apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: rubi-agency-crm
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    spec:
      containers:
      - image: gcr.io/PROJECT_ID/rubi-agency-crm
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 1000m
            memory: 512Mi
        env:
        - name: PORT
          value: "8080"
